
.has-text-centered{
  text-align: center!important;
  padding-top: 6%;
}
.icons{
  padding: 15px;
}

.buttons{
  padding: 0px 0px 15px 0px;

}
.fab{
  transition: 0.3s;
  color: #363636;
  padding-right: 15px;
}
.fab:hover{
  transform: translate(0, -12px);
}
.size {
    font-size: 3em;
}
.whatsapplogo a .logo{
  width: 60px;
  position: absolute;
  bottom: 50px;
  right: 50px
}
 .msgbtn .logo{
    width: 60px;
    position: absolute;
    bottom: 50px;
    left: 50px
  }
 .Sayhello .rounded-pill{
      background-color: #fff;
  }
@media only screen and (max-width: 600px) {
  .whatsapplogo a .logo{
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 5px
  }
  .msgbtn .logo{
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: 5px
  }
  .card-body .row .col{
    padding-left: 100px;
  }
}
.content{
    padding-top: 45px;

}
/*skill bar*/
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 119px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}